{% extends "admin.html" %}
{% block form %}
<form action="" method="post">
  <p>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text" placeholder="Type name here">
  </p>
  <p>
    <label for="year">Year:</label>
    <input id="year" name="year" type="number" pattern="[0-9]*" placeholder="Type a year here">
  </p>
  <p>
    <label for="url">URL of info page:</label>
    <input id="url" name="url" type="text" placeholder="Type info page URL here">
  </p>
  <p>
    <label for="sheet_url">Sheet URL:</label>
    <input id="sheet_url" name="sheet_url" type="text" placeholder="Type sheet URL here">
  </p>
  <p>
    <label for="style">Style:</label>
    <select id="style" name="style" type="text">
      <option value="" selected>
      {% for style in styles %}
      <option value="{{ style.style }}">{{ style.style }}</option>
      {% endfor %}
    </select>
  </p>
  <p>
    <label for="instrument">Instrument:</label>
    <select id="instrument" name="instrument" type="text">
      <option value="" selected>
      {% for instrument in instruments %}
      <option value="{{ instrument.id }}">{{ instrument.name }}</option>
      {% endfor %}
    </select>
  </p>
  <button type="submit">Submit</button>
</form>
{% endblock %}
