{% extends "layout.html" %}
{% block content %}
<div class="block">
  <h3 class="sheet-name">{{ sheet.name }}</h3>
  <p class="sheet-date">Year: {{ sheet.year }}</p>
  <p>Style: {{ sheet.style_id }}</p>
  {% if sheet.sheet_url %}
  <p><a href="{{ sheet.sheet_url | get_sheet_url }}">Download sheet music</a></p>
  {% endif %}
  <h4>Instruments:</h4>
  {% for i in instruments %}
    Name: {{ i.name }}<br>
    Info: {{ i.info }}<br>
    Range: {{ i.range }}<br>
    Image: {{ i.image }}<br>
  {% endfor %}
  {% if sheet.original_author %}
  <p>Original author: {{ sheet.original_author.name }}</p>
  {% endif %}
</div>
{% endblock %}
